<router-outlet></router-outlet>
<!-- <button mat-button (click)="openTempDialog()">Open Temp Modal</button>
<button mat-button (click)=”openCompDialog()”>Open Comp Modal</button>
<ng-template #dialogRef let-mydata>
  <h5>Hi I am Template Dialog following Foo list:</h5>
  <ul *ngIf="mydata">
    <li *ngFor="let item of mydata">{{item}}</li>
  </ul>
  <button mat-button mat-dialog-close="I am from dialog land...">Close</button>
</ng-template> -->

<div class="form-group">
  <label>Имя</label>
  <input class="form-control" name="name" [(ngModel)]="title" #name="ngModel" required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"/>
  <input class="form-control" name="name2" [(ngModel)]="title2" #name2="ngModel" required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"/>
  <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
    Не указано имя
  </div>
  <button [disabled]="!name.valid || !name2.valid" class="alert alert-danger" >sss</button>
</div>
<div style="background-color: beige;padding: 20px;">
  <button (click)="ngOnInit()">Button in parent component: REFRESH</button>
</div>
<div [attr.visible]="httpError" class="alert alert-danger">
    {{httpError?.message}}
</div>
<div style="background-color: darkgrey; padding: 20px;">
  <app-child [parents]="rows" (onChangedEvent)="onChanged($event)">
  </app-child>
</div>

<!-- <form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[2,5, 10, 20]"
               [pageSize]="2"
               showFirstLastButtons 
               aria-label="Select page"
               >
</mat-paginator>
<!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator> -->



  <div style="background-color: beige;padding: 20px;">
    <ul >
      <li *ngFor="let row of rows">
          {{row.name}}
          <ul *ngIf="row.childs && expanded">
              <li *ngFor="let child of row.childs">
                {{child.name}}
              </li>
          </ul>
  
        </li>
    </ul>
  </div>

