<h3>
    CHILD COMPONENT
</h3>
<span *ngFor="let parent of parents">
   {{parent.id}}&nbsp;
</span>
<br>
<br>
<br>
<button (click)="change()">Button in child component: {{expanded?"Collapse":"Expand"}}</button>
<br>
<br>
<br>
<a [routerLink]="['uncle', '1']" [queryParams]="{'viewmode':true}"
 routerLinkActive="active">view UncleComponent</a>
<!-- <a routerLink="/uncle/1" routerLinkActive="active">view UncleComponent</a> -->
<br>
<br>
<a [routerLink]="['uncle', '2']" [queryParams]="{'viewmode':false}"
routerLinkActive="active">edit UncleComponent</a>
<br>
<button (click)="setViewModeInUncleFalse()">SET VIEWMODE FALSE</button>
<br>
<button (click)="setViewModeInUncleTrue()">SET VIEWMODE TRUE</button>
<!-- <a routerLink="/uncle/2" routerLinkActive="active">edit UncleComponent</a> -->